body {
  margin: 0;
  font: "Trebuchet MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcf7;
  cursor: default;
}

.grid-container{
  display: grid;
  grid-template: repeat(7, 1fr)/repeat(13, 1fr);
}

.menuButton-container {
  grid-area: 1/1/span 1/ span 1;
  justify-self: center;
  align-self: center;
  font-size: 4vh;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: #fdf9e2;
  box-shadow: 0.01vh 0.5vh #f0f0f0ac;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menuButton-container:active {
  transform: scale(1.2, 1.2);
  box-shadow: 0.01vh 0.5vh red;
  background-color: #fff7a0;
  color: red;
}

.menu-container {
  display: flex;
  grid-area: 1/1/span 2/span 2;
  margin: 12vh 0 0 3vh; 
  width: 12vh;
  max-height: 12vh;
  padding: 5vh;
  text-align: left;
  box-shadow: 0.01vh 0.5vh #f0f0f0ac;
}

.instructions-container {
  grid-area: 1/2/span 2/span 1;
  align-self: start;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.timer-container {
  grid-area: 2/6/5/9;
  align-self: start;
}

.word-container {
  grid-area: 2/11/span 3/span 3;
}

.tiles-container {
  grid-area: 5/3/6/12;
  align-self: end;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17vh;
  width: 17vh;
  transform: rotate(90deg);
}

.button {
  display: flex;
  align-items:center;
  justify-content: center;
  font-weight: normal;
  color: #3b3640;
  min-width: 80px;
  height: 30px;
  padding: 2px 8px;
  border: none;
  background-color: #f2f7f4;
  box-shadow: 2px 2px #edf0ee;
  margin: 10px 20px;
}

.tile {
  border: 1px solid #faf4d6;
  box-shadow: 0.5vh 1.3vh #f0f0f0ac;
  max-width: 4vw;
  max-height: 4vw;
  font-size: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  margin: 1vw;
  background-color: #fdf9e2;
}

.tile:active {
  box-shadow: 0.5vh 1.3vh red;
  background-color: #fff7a0;
  color: red;
}

.tile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5vw;
  padding-left: 0.2vw;
}

.letterTiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-container {
  height: 22px;
  font: "Trebuchet MS";
  display: flex;
  align-items: center;
  width: 150px;
  cursor: default;
  }

.word {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  box-shadow: 0px 0.3px 0px 0px grey;
  padding: 2px 15px;
}

.exit {
  width: 5px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  text-align: center;
  box-shadow: 0px 0.3px 0.3px 0px grey;
  font-size: 12px;
}

.exit:active {
  box-shadow: 1px 1px red;
  background-color: #f0f0f0;
  color: red;
}

.timeLeft {
  display: flex;
  background-color: #fdf9e2;
  box-shadow: 0.5vh 1.3vh #f0f0f0ac;
  font-weight: bolder;
  font-size: 10vw;
  border: 1px #faf4d6 solid;
  border-radius: 50%;
  height: 14vw;
  width: 14vw;
  justify-content: center;
  align-items: center;
  padding-left: 0.5vw;
  padding-top: 0.5vw;
}

.timerContainer {
  max-height: 15vw;
  padding: 25px 25px;
  background-color: #fcfcf7;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
