/*---GENERAL STYLES---*/

body {
  margin: 0;
  font-family: "Trebuchet MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe3fa;
  cursor: default;
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  color: #4f4c4c;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #fdf9e2;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.grid-container{
  display: grid;
  grid-template: repeat(6, 1fr)/repeat(11, 1fr);
}

/*---MENU---*/

.menuButton {
  grid-area: 1/1/span 1/ span 1;
  margin: 6vh 0 0 7vh;
  font-size: 4vh;
  border-radius: 50%;
  justify-self: self-start;
  background-color: #fdf9e2;
  box-shadow: 0.3vh -0.3vh gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 10vh;
  padding: 0 0 0.5vh 0.5vh;
  transform: rotate(90deg);
  position: absolute;
}

.menuButton:active {
  transform: scale3d(1.2, 1.2, 0.5) rotate(90deg);
  box-shadow: 0.3vh -0.3vh rgba(255, 0, 0, 0.447);
  background-color: #fff7a0;
  color: red;
}

.menu-div {
  width: 15vh;
  position: relative;
  width: calc(100/13)vh;
}

.menu.inactive {
  font-size: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6vh 0 0 18vh; 
  width: 25vh;
  height: 0.7vh;
  padding: 5vh;
  text-align: left;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: 
    opacity 0.4s ease, 
    transform 0.4s ease, 
    visibility 0.4s ease;  
}

.menu.active {
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6vh 0 0 18vh; 
  width: 25vh;
  height: 0.7vh;
  padding: 5vh;
  text-align: left;
  box-shadow: 0.1vh 0.1vh gray;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background-color: #fdf9e2;
}

/*---TIMER---*/

.timer-container {
  grid-area: 2/5/span 3/span 3;
  align-self: start;
}

.timeLeft {
  display: flex;
  background-color: #fdf9e2;
  box-shadow: 0.2vh 0.3vh gray;
  font-weight: bolder;
  font-size: 10vw;
  border: 1px #faf4d6 solid;
  border-radius: 50%;
  height: 14vw;
  width: 14vw;
  justify-content: center;
  align-items: center;
  padding-left: 0.5vw;
  padding-top: 0.5vw;
}

.timerContainer {
  max-height: 15vw;
  padding: 25px 25px;
  background-color: #ffe3fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---ENTERED ANSWERS---*/

.word-container {
  grid-area: 1/11/span 2/span 1;
  margin: 5vh 0 0 0;
  padding-right: 6vh;
}

.words {
  height: 22px;
  font-family: "Trebuchet MS";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  cursor: default;
  padding:0;;
  }

.word {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100px;
  box-shadow: 0px 0.3px 0px 0px grey;
  padding: 0.5vh 0.5vh;
  background-color: #fdf9e2;
  box-shadow: 1px 1px gray;
}

.exit {
  width: 5px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  text-align: right;
  font-size: 12px;
  background-color: #fdf9e2;
}

.exit:active {
  box-shadow: 1px 1px red;
  background-color: #f0f0f0;
  color: red;
}

/*---TILES---*/

.tiles-container {
  grid-area: 5/3/span 1/span 7;
  align-self: end;
}

.button {
  display: flex;
  align-items:center;
  justify-content: center;
  font-weight: normal;
  color: #3b3640;
  height: 10vh;
  padding: 1vh 1.5vh;
  border: none;
  background-color: #f2f7f4;
  box-shadow: 2vh 2vh #d1f7dd;
  margin: 2vh 4vh;
}

.tile {
  border: 0.3vh #f6ecab solid;
  box-shadow: 0.5vh 0.6vh gray;
  width: 14vh;
  height: 14vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5vh;
  background-color: #fdf9e2;
}

.tile:active {
  box-shadow: 0.5vh 0.6vh rgba(255, 0, 0, 0.447);
  background-color: #fff7a0;
  color: red;
  transform: scale(1.1, 1.1);
}

.letterTiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
}






